@font-face {
    font-family: codec;
    src: url(fonts/codec-pro.regular.ttf);
}

.index{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.index{
    background-color: var(--cor-fundo);
}
.imagem_fundo{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imgs/imagem_fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    z-index: 1;
}
.barra{
    top: 0;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 70px;
}
.barra ul{
    display: flex;
}
.barra li{
    margin: 20px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-family: codec;
}
.barra li a{
    color: white;
    transition: 0.2s ;
    padding-bottom: 5px;
    position: relative;
}
.barra li a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    top: 20px;
    height: 2px;
    background-color: var(--cor-verde-escuro);
    transition: width 0.3s ease-in-out;
}
.barra li a:hover::after{
    width: 100%;
}
#active{
    color: var(--cor-verde-escuro);
}
.barra button{
    font-family: codec;
    height: 30px;
    width: 110px;
    border-radius: 10%;
    border:  none;
    margin: 10px;
    cursor: pointer;
    transition: 1.0s;
    font-weight: bold;
    color: var(--cor-verde-escuro);
}
.barra button:hover{
    background-image: linear-gradient(to right, #319e2d, #042e09);
    color: white;
}
.conteudo_header{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
}
.conteudo_header h2{
    font-family: codec;
    word-spacing: 10px;
    color: white;
    font-size: 30px;
}
.conteudo_header li{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-family: codec;
    list-style: var(--cor-verde-escuro);
}
.conteudo_header h2{
    margin-bottom: 10px;
    color: white;
    font-size: 35px;
    font-family: codec;
}
.conteudo_header p{
    color: white;
    font-family: codec;
    margin-bottom: 10px;
    font-size: 20px;
}
.btn_contato{
    display: flex;
    flex-direction: row;
}
.btn_contato button{
    margin: 10px;
    font-family: codec;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    border:  none;
    cursor: pointer;
    transition: 1.0s;
    font-weight: bold;
    color: var(--cor-verde-escuro);
}
.btn_contato button:hover{
    background-image: linear-gradient(to right, #319e2d, #042e09);
    color: white;
}
.imagem_contato{
    top: 60%;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 2;
}
.imagem_contato img{
    height: 400px;
}


/* TELA DE LOGIM E CADASTRO */
.bodyLoginCad  {
    background: linear-gradient(270deg, #4bec9c, #24c2ba, rgb(4, 33, 120));
    color: white;
    font-size: 25px;
}

.bodyLoginCad button {
    background: linear-gradient(90deg, #3498db, #2ecc71, navy);
    background-size: 180%;
    background-position: left; /* transição de cor*/

    border-radius: 12px;
    height: 50px;
    width: 250px;
    font-weight: bold;
    color: white;
    padding: 0 20px 0 20px;
    font-size: 20px;
    border: none;
    transition: 0.3s;
} 

.bodyLoginCad button:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 15px 0 #041525;
    background-position: right; /* transição de cor, puxando a cor da direita no linear-gradient */
    width: 270px;
}

/**/
.bodyLoginCad input {
    border: solid transparent;
    border-bottom: solid blue;
    outline: none;
    background-color: transparent;
    color: black;
    height: 70px;
    width: 450px;
    padding: 0 0 0 16px;
    margin: 0px 50px 10px 50px;
    font-size: 23px;
    transition: 0.4s;
} 

.bodyLoginCad input:hover {
    transform: translateY(-5px);
    width: 500px;
    margin-top: translateY(-5px); 
    margin-left: 25px;
    margin-right: 25px;
    border: solid 2px rgb(157, 157, 173);
    border-radius: 15px;
}

.bodyLoginCad hr {
    width: 450px;
    margin: 5px;
}

.bodyLoginCad img {
    margin-left: 40px;
    width: 75%;
}

.parteEsquerda h1 {
    margin-top: 5px;
}

.container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.parteEsquerda {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -2%;
}

.parteDireita {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 50%;
    left: 48%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.formulario {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: 1; /*Define a ordem dos acontecimentos*/
}
/* Tentativa borda animada */
.formulario::before {
    content: "";
    position: absolute;
    inset: -10px; /* altera a distância do elemento filho em relação ao pai, 
    se < 0 aumenta o tamanho da borda fora da div formulario*/
    background: linear-gradient(270deg, #b4eae5, #2ecc71, rgb(4, 33, 120));
    background-size: 700%;
    border-radius: 25px;
    z-index: -1;/*Define a ordem dos acontecimentos*/

    animation: animarBorda 5s ease infinite;
}
/* parte interna */
.formulario::after {
    content: "";
    position: absolute;
    inset: 3px; /* altera a distância do elemento filho em relação ao pai, 
    se > 0 consome o espaço da div formulário*/
    background: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: -1;/*Define a ordem dos acontecimentos*/ 
}

/* Atribuindo animação */
@keyframes animarBorda {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.formulario button {
    margin: 30px 0 30px 0;
}
.formulario h1 {
    color: black;
}
/* Variáveis de cores do projeto*/
:root{
    --cor-verde-escuro: #042e09;
    --cor-fundo:#275673;

}