body {
    background-color: navy;
    color: white;
    font-size: 25px;
}

button {
    background: linear-gradient(90deg, #3498db, #2ecc71, navy);
    background-size: 180%;
    background-position: left; /* transição de cor*/

    border-radius: 12px;
    height: 50px;
    width: 250px;
    font-weight: bold;
    color: white;
    padding: 0 20px 0 20px;
    font-size: 20px;
    border: none;
    transition: 0.3s;
} 

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px 0 #2f8fef;
    background-position: right; /* transição de cor, puxando a cor da direita no linear-gradient */
    width: 270px;
}

/**/
input {
    border: solid transparent;
    border-bottom: solid blue;
    outline: none;
    background-color: transparent;
    color: black;
    height: 70px;
    width: 450px;
    padding: 0 0 0 16px;
    margin: 0px 50px 10px 50px;
    font-size: 23px;
    transition: 0.4s;
    
} 

input:hover {
    transform: translateY(-5px);
    width: 500px;
    margin-top: translateY(-5px); 
    margin-left: 25px;
    margin-right: 25px;
    border: solid 2px rgb(157, 157, 173);
    border-radius: 15px;
}

hr {
    width: 450px;
}

img {
    margin-left: 40px;
    width: 70%;
}

.container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.parteEsquerda {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -2%;
    left: 2%;
}

.parteDireita {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.formulario {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: 1; /* Controla a ordem das camadas de acontecimento*/
}
/* Tentativa borda animada */
.formulario::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(270deg, #3498db, #2ecc71, navy);
    background-size: 700%;
    border-radius: 25px;
    z-index: -1;

    animation: animarBorda 5s ease infinite;
}
/* parte interna */
.formulario::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    z-index: -1;
}

/* Atribuindo animação */
@keyframes animarBorda {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.formulario button {
    margin: 30px 0 30px 0;
}
.formulario h1 {
    color: black;
}